---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Home"
  description="Personal website"
>

<h1 class="text-5xl font-bold">
    Hi, I'm Amir.
</h1>

<p class="mt-6 text-lg text-zinc-400">

Software Engineer • Open Source Enthusiast • Blogger

</p>

</Layout>